<HTML>
    <HEAD>
        <TITLE>{{.SiteName}}</TITLE>
    </HEAD>
    <BODY BGCOLOR="#FFFFFF">
        <TABLE WIDTH="100%" BGCOLOR="#FFFFFF" CELLPADDING="40" CELLSPACING="0" BORDER="0">
            <TR BGCOLOR="#45A6DA">
                <TD HEIGHT="100" ALIGN="CENTER">
                    <H1>{{.SiteName}}</H1>
                    {{.SubTitle}}
                </TD>
            </TR>
            <TR>
                <TD WIDTH="70%">
                    <A HREF="/">Home</A>
{{ if gt .Page 0 }}<A HREF="/?pg={{ .PgNewer }}">&lt; Newer Posts</A>{{ end }}&nbsp;{{ if lt .Page .PgOldest }}|&nbsp;<A HREF="/?pg={{ .PgOlder }}">Older Posts &gt;</A>{{ end }}<BR>
{{.Articles}}
{{ if gt .Page 0 }}<A HREF="/?pg={{ .PgNewer }}">&lt; Newer Posts</A>{{ end }}&nbsp;{{ if lt .Page .PgOldest }}|&nbsp;<A HREF="/?pg={{ .PgOlder }}">Older Posts &gt;</A>{{ end }}<BR>
                </TD>
                <TD WIDTH="30%" BGCOLOR="#FEFEFE" VALIGN="top">
                    <A HREF="/">Home</A><P>
                        <FORM ACTION="/"><INPUT TYPE="text" METHOD="POST" NAME="query" SIZE="15"> <INPUT TYPE="submit" VALUE="Search"></FORM><P>
                        Latest posts:<P>
                        {{.LatestPosts}}
                        <P><A HREF="{{.AdminUrl}}">Site Admin</A>
                </TD>
            </TR>
            <TR><TD COLSPAN="2">>Copyright &copy; by Authors of {{.SiteName}}. Best viewed in NCSA Mosaic! | BloKi Vintage Template</TD></TR>
        </TABLE>
    </BODY>
</HTML>